<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.quality.mapper.TestMapper">

    <insert id="addHealthyIteration">
        INSERT INTO t_healthy_iteration `(`parent_id`, `finish_rate`, `elements_name`)
        VALUES (#{parentId}, #{finishRate}, #{elementsName});
    </insert>
    <insert id="insertData">
        insert into t_test(`random`)
        values
        <foreach collection="data" item="item" separator=",">
            (#{item})
        </foreach>
    </insert>

    <insert id="insertData1">
        insert into t_test_copy(`random`)
        values
        <foreach collection="data" item="item" separator=",">
            (#{item})
        </foreach>
    </insert>

    <select id="getHealthyIterationById" resultType="com.yy.quality.model.HealthyIteration">
        SELECT id,
               parent_id     AS parentId,
               finish_rate   AS finishRate,
               elements_name AS elementsName
        FROM t_healthy_iteration
        WHERE id = #{id}
    </select>

    <select id="getAllProject" resultType="com.yy.quality.model.Project">
        SELECT id,
               product_line AS productLine,
               target,
               parent_id    AS parentId,
               description
        FROM t_project
    </select>

    <select id="getAllData" resultType="java.lang.String">
        select random
        from t_test limit #{startIndex}, #{pageSize}
    </select>
    <select id="getDataTotal" resultType="java.lang.Integer">
        select count(*)
        from t_test
    </select>
    <select id="getConfig" resultType="com.yy.quality.model.HealthyConfig">
        select `id`,
               `index`,
               `socore`,
               `min_value`    AS `minValue`,
               `max_value`    AS `maxValue`,
               `next_id`      AS `nextId`,
               `parent_index` AS parentIndex
        from t_config;
    </select>
    <select id="getHealthy" resultType="com.yy.quality.model.HealthyIteration">
        select `id`            as id,
               `index`         as `index`,
               `finish_rate`   as finishRate,
               `elements_name` as elementsName,
               `date`          as `date`
        from t_healthy_iteration
    </select>


</mapper>
